# ==========================================
# ALLIAS OFFICE PRO
# ==========================================

APP_NAME=Allias Office PRO
APP_VERSION=1.0.0

# Future options

LOG_LEVEL=INFO
ENABLE_LOG=true